@import url("https://use.typekit.net/uhe1zjk.css");

header {
  display: flex;
  justify-content: space-between;
  margin: 0em 4em;
}

nav ul li a {
  color: black;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#aboutSection1 {
  background-color: white;
}

#aboutSection1a {
  background-color: transparent;
  margin: 5em;
}
#aboutSection1b {
  background-color: #f8f5f5;
  padding: 5em;
  margin: 2em;
}

p {
  max-width: 60ch;
  font-family: montserrat;
}

#aboutSection2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 2em;
  position: relative;
}

#aboutSection2b {
  background-color: #b4aeac;
}

h1 {
  position: absolute;
  transform: translateX(5%) rotate(90deg);
  transform-origin: left;
  left: 53%;
  bottom: 25%;
  font-size: 60px;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
}

h2 {
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: transparent;
  background-image: url("/illustrations/sparkles.gif");
  -webkit-background-clip: text;
}

#aboutBtn {
  padding: 0.8em 3em;
  margin-left: 0;
  background: url("/illustrations/sparkles.gif") no-repeat;
  font-size: 16px;
  color: white;
}

#aboutBtn:hover {
  cursor: pointer;
}

#aboutPhotoId {
  position: absolute;
  size: 10rem;
  left: 1%;
  right: 1%;
}

#achievementsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
}

#achievementsBox :first-child {
  grid-column: 1 / -1;
}
