@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Mitr&display=swap");
@import url("https://use.typekit.net/uhe1zjk.css");

h1 {
  position: absolute;
  transform: translateX(5%) rotate(90deg);
  transform-origin: left;
  left: 1%;
  bottom: 55%;
  font-size: 51px;
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: motiva-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
  color: transparent;
  padding-top: 1em;
  background-image: url("../illustrations/sparkles.gif");
  -webkit-background-clip: text;
}

p {
  font-family: montserrat;
  max-width: 40ch;
  line-height: 1.8;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10em 5em;
}

body {
  margin: 0;
}

.homeBtn {
  display: none;
}

#textContact {
  padding: 1em;
}

@media only screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
}

/* Form div on the right */

#form1 {
  background-color: #b4aeac;
  font-family: montserrat;
  font-size: 0.95em;
  color: white;
  padding: 2em;
  padding-left: 5em;
  padding-top: 5em;
  padding-bottom: 5em;
  position: relative;
}

input {
  margin-bottom: 1rem;
}

#form1Btn {
  padding: 0.8em 3em;
  margin-left: 0;
  background: url("../illustrations/sparkles.gif") no-repeat;
  font-size: 16px;
  margin-top: 1em;
  color: white;
}

#form1Btn:hover {
  cursor: pointer;
}

.d-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

form p {
  margin: 0;
}

.w-100 {
  width: 80%;
}

textarea {
  max-width: 80%;
  max-height: 100px;
  resize: vertical;
}

/* Media queries */

@media only screen and (max-width: 1150px) {
  header {
    margin: 0em;
  }
}

@media only screen and (max-width: 940px) {
  nav ul li a {
    color: black;
  }

  body {
    background-position: center 56px;
    background-size: 140vh;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }

  #logo {
    max-width: 4rem;
    float: left;
    margin-left: 0;
  }

  #fpContainer1 {
    grid-template-columns: 1fr;
    margin-top: 26em;
  }

  p {
    max-width: 40ch;
  }

  #card1,
  #card2,
  #card3 {
    width: 40vw;
    height: 40vw;
    background-size: 40vw;
  }

  .fpSubContainer1 {
    justify-self: center;
  }

  .fpContainer2 {
    grid-template-columns: 1fr;
    margin: 2em;
  }

  #normaPhoto {
    width: 22em;
    justify-self: center;
    margin-right: 0em;
    margin-bottom: 3em;
    border: 5px solid white;
  }
  #fpContactBtn {
    margin-top: 3em;
    cursor: pointer;
    justify-self: center;
  }

  .homeBtn {
    display: list-item;
  }

  #logo {
    display: none;
  }

  .d-flex {
    flex-direction: column;
  }
  h1 {
    font-size: 41px;
  }
  h2 {
    font-size: 35px;
  }

  main {
    padding: 2em;
  }

  #textContact {
    padding-bottom: 2em;
  }
}
